:root {
    --color-white: #fff;
    --color-red: #ac0b0b;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-orange1: #d8360d;
    --color-orange2: #df5920;
    --color-red2: #db2020;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, var(--color-red), var(--color-dark2), var(--color-red), var(--color-dark2));
    background-size: 400% 400%;
    color: var(--color-white);
    animation: dynamic-background 15s infinite;
    font-size: 16px;
    padding-top: 130px;
    padding-bottom: 90px;
}

@keyframes dynamic-background {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#bloco-info {
    background-color: var(--color-dark1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(235, 230, 230, 0.2);
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#bloco-options {
    color: var(--color-white);
    text-align: left;
}
h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
input[type="radio"] {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#proximo {
    background-color: var(--color-red);
    color: #fff;
    border: none;
    padding: 10px 90px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    font-size: 18px;
}
p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
#proximo:hover {
    background-color: var(--color-red2);
}
#mensagemAviso {
    color: var(--color-red);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 576px) {
    body {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    #bloco-info {
        max-width: 90%;
    }

    #proximo {
        padding: 10px 90px;
        
    }
}